<%- include("partials/navigation.ejs") %>
<form action="/edit-folder" method="post">
    <input type="hidden" name="folder_id" value="<%= folder.id %>">
    <label for="name">Folder Name: 
        <input type="text" name="name" value="<%=folder.name%>">
    </label>
    <button type="submit">Update</button>
    <a href="/folder/<%=folder.id%>/delete">Delete</a>
</form>
<%- include("partials/errors.ejs") %>