<%- include("partials/navigation.ejs") %>
<ul>
    <li><%= file.name %></li>
    <li><%= file.size %></li>
    <li><%= file.uploadedAt %> </li>
    <a href="/file/<%=file.id%>/download">Download</a>
    <a href="/file/<%= file.id %>/delete">Delete</a>
</ul>