<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include("partials/navigation.ejs") %>
    Folders: 
    <% if (locals.folders) { %>
        <ul>
        <% folders.map((folder) => { %>
            <li>
                <a href="<%= locals.directoryId ? '/folder/' + folder.id : 'folder/' + folder.id %>"><%= folder.name %></a>
                <span><a href="<%='/edit-folder/' + folder.id%>">Edit</a>
                <a href="/folder/<%=folder.id%>/delete">Delete</a>
            </li>    
        <% }) %>
        </ul>
    <% } %>
    Files:
    <% if (locals.files) { %>
        <ul>
        <% files.map((file) => { %>
            <li>
                <span><%= file.name %> | <span>
                <a href="/file/<%= file.id %>">Details</a>
            </li>    
        <% }) %>
        </ul>
    <% } %>
</body>
</html>